$brown: #544013;
$off-white: #ede9dd;
$white: #fefffe;
$dark: #7c0b2b;

// option 2 pallet
$gunmetalGey: #2c3531;
$sapphire: #116466;
$lightBlue: #d1e8e2;
$peachOrange: #ffcb9a;
$tan: #d9b08c;

// option 3 pallet
$eggshell-white: #eae7dc;
$light-tan: #d8c3a5;
$grey: #8e8d8a;
$light-red: #e98074;
$dark-red: #e85a4f;
