@font-face {
  font-family: "AlegreyaSans";
  src: url(../../assets/fonts/AlegreyaSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "AlegreyaSans";
  src: url(../../assets/fonts/AlegreyaSans-Regular.ttf);
  font-weight: 400;
}
// @font-face {
//   font-family: "AlegreyaSans";
//   src: url(../../assets/fonts/AlegreyaSans-Italic.ttf);
//   font-weight: 400;
// }
@font-face {
  font-family: "AlegreyaSans";
  src: url(../../assets/fonts/AlegreyaSans-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Exo";
  src: url(../../assets/fonts/Exo2-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Exo";
  src: url(../../assets/fonts/Exo2-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Exo";
  src: url(../../assets/fonts/Exo2-Regular.ttf);
  font-weight: 400;
}
// @font-face {
//   font-family: "Exo";
//   src: url(../../assets/fonts/Exo2-Italic.ttf);
//   font-weight: 400;
// }
@font-face {
  font-family: "Exo";
  src: url(../../assets/fonts/Exo2-Light.ttf);
  font-weight: 300;
}
